body,html {
  min-width: 100%;
  min-height: 100vh;
  font-family: Tahoma;
}

.wrapper {
  min-width: 100%;
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  background: url("../img/bg-light.png");
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
.header {
  position: sticky;
  top: 0px;
  flex: 0 0 auto;
  z-index: 999;
}
.main{
  padding: 23px 0px 120px 0px;
}
.footer{
  flex: 1 1 auto;
  background: url("../img/navbar-grey.png");
}
@media (max-width:1440px) {
  .container {
    max-width: 80vw;
  }
}
@media (max-width:768px) {
  .container{
    max-width: 100%;
  }
}